<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Maqolalar</h1>

{% for post in posts %}
<ul>
    <li><h1><b>Nomi:</b> {{ post.title }}</h1></li>
    <li><b>Matni:</b> {{ post.content }}</li>
    <li><b>Qo'shilgan vaqtni:</b> {{ post.created }}</li>
    <li><b>Ko'rishlar soni:</b> {{ post.views }}</li>
    <li><b>Kategoriya:</b> {{ post.category }}</li>
    <li><img src="{{ post.photo.url }}" width="200px"></li>
</ul>
{% endfor %}

</body>
</html>